
h1{
    position: relative;
    top:0;
    left: 50%;
   
    
}
.box {
    width: 200px;
    height: 200px;
    background: url(../img/frog.svg)no-repeat center/contain;
    position: relative;

  }


.box p{
    font-size: 18px;
    color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
} 

.frog2{
    position: relative;
    left: 50px;
    top: -150px;
}

.btn{
    margin-top: 100px;
    text-align: center;
    
}

.btn a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color:lightgreen;
    border-radius: 40px;
    margin: 0 20px;
   

}

